# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_mem/test1
test_time/testtime
test_time/test_time2
testmutex/test_mutex
testmutex/test_mutex_std
testgdb/testgdb
testload/testload
testgdb/gdb_test
*.log
test
*.txt
test_iofile/testfstream
build
